:root {
  --cal-light-green-hsl: 151, 100%, 70%;
  --cal-light-green-contrast-hsl: 151, 100%, 15%;

  --cal-to-green-hsl: 151, 100%, 42%;
  --cal-to-green-contrast-hsl: 0, 0%, 100%;

  --cal-to-red-hsl: 344, 100%, 60%;
  --cal-to-red-contrast-hsl: 0, 0%, 100%;

  --cal-to-blue-hsl: 255, 100%, 31%;
  --cal-to-blue-contrast-hsl: 0, 0%, 100%;

  --cal-green-hsl: 151, 100%, 30%;
  --cal-green-contrast-hsl: 151, 100%, 10%;

  --cal-light-red-hsl: 344, 100%, 70%;
  --cal-light-red-contrast-hsl: 344, 100%, 10%;

  --cal-light-blue-hsl: 230, 100%, 75%;
  --cal-light-blue-contrast-hsl: 230, 100%, 10%;

  --cal-light-yellow-hsl: 45, 100%, 70%;
  --cal-light-yellow-contrast-hsl: 45, 100%, 15%;

  --cal-light-grey-hsl: 151, 5%, 85%;
  --cal-light-grey-contrast-hsl: 0, 0%, 10%;

  --cal-yellow-hsl: 45, 100%, 51%;
  --cal-yellow-contrast-hsl: 45, 100%, 15%;

  --cal-orange-hsl: 27, 100%, 55%;
  --cal-orange-contrast-hsl: 27, 100%, 5%;

  --cal-grey-hsl: 0, 0%, 30%;
  --cal-grey-contrast-hsl: 0, 0%, 100%;

  --cal-dark-green-hsl: 151, 80%, 20%;
  --cal-dark-green-contrast-hsl: 0, 0%, 100%;

  --cal-dark-red-hsl: 344, 80%, 35%;
  --cal-dark-red-contrast-hsl: 0, 0%, 100%;

  --cal-dark-blue-hsl: 255, 100%, 31%;
  --cal-dark-blue-contrast-hsl: 0, 0%, 100%;

  --cal-dark-yellow-hsl: 45, 100%, 25%;
  --cal-dark-yellow-contrast-hsl: 0, 0%, 100%;

  --cal-color-weekday: hsl(0, 0%, 40%);
  --cal-color-date: hsl(0, 0%, 40%);
  --cal-color-today: hsl(0, 0%, 0%);
  --cal-color-divider: hsl(0, 0%, 80%);
  --cal-color-time: hsl(0, 0%, 10%);

  --tosync-color-rotation: hsl(var(--cal-dark-blue-hsl));
  --tosync-color-vol: hsl(var(--cal-dark-blue-hsl));
  --tosync-color-sv: hsl(var(--cal-dark-blue-hsl));
  --tosync-color-mep: hsl(var(--cal-dark-blue-hsl));

  --tosync-color-conges: hsl(var(--cal-dark-green-hsl));

  --tosync-color-repos: hsl(var(--cal-to-green-hsl));

  --tosync-color-stage: hsl(var(--cal-dark-red-hsl));

  --tosync-color-greve: hsl(var(--cal-yellow-hsl));
  --tosync-color-maladie: hsl(var(--cal-yellow-hsl));
  --tosync-color-asbsence: hsl(var(--cal-yellow-hsl));
  --tosync-color-sanssolde: hsl(var(--cal-yellow-hsl));

  --tosync-color-jisap: hsl(var(--cal-orange-hsl));
  --tosync-color-npl: hsl(var(--cal-orange-hsl));

  --tosync-color-sol: hsl(var(--cal-to-red-hsl));
  --tosync-color-simu: hsl(var(--cal-to-red-hsl));
  --tosync-color-syndicat: hsl(var(--cal-to-red-hsl));
  --tosync-color-delegation: hsl(var(--cal-to-red-hsl));
  --tosync-color-reserve: hsl(var(--cal-to-red-hsl));
  --tosync-color-instructionSimu: hsl(var(--cal-to-red-hsl));
  --tosync-color-instructionSol: hsl(var(--cal-to-red-hsl));

  --tosync-color-blanc: hsl(var(--cal-light-grey-hsl));
  --tosync-color-autre: hsl(var(--cal-grey-hsl));
  --tosync-color-default: hsl(var(--cal-grey-hsl));

  /* Duty BG */
  --tosync-duty-bg-alpha: 0.25;

  --tosync-color-rotation-duty-text: hsla(var(--cal-to-blue-hsl), 1);
  --tosync-color-rotation-duty-title: hsla(var(--cal-to-blue-hsl), 1);
  --tosync-color-rotation-duty-bg: hsla(var(--cal-light-blue-hsl), var(--tosync-duty-bg-alpha));
  
  --tosync-color-sol-duty-text: hsla(var(--cal-to-red-hsl), 1);
  --tosync-color-sol-duty-title: hsla(var(--cal-to-red-hsl), 1);
  --tosync-color-sol-duty-bg: hsla(var(--cal-light-red-hsl), var(--tosync-duty-bg-alpha));

  /* Darker BGs
  --tosync-color-rotation-duty-text: hsla(0, 0%, 100%, 0.8);
  --tosync-color-rotation-duty-title: hsla(0, 0%, 100%, 0.8);
  --tosync-color-rotation-duty-bg: hsla(var(--cal-to-blue-hsl), 0.9);
  
  --tosync-color-sol-duty-text: hsla(0, 0%, 100%, 0.8);
  --tosync-color-sol-duty-title: hsla(0, 0%, 100%, 0.8);
  --tosync-color-sol-duty-bg: hsla(var(--cal-to-red-hsl), 0.9);
  */
}

[data-theme=dark] {
  --cal-color-weekday: rgba(255,255,255,0.8);
  --cal-color-date: rgba(255,255,255,0.8);
  --cal-color-today: rgba(255,255,255,1);
  --cal-color-divider: rgba(255,255,255,0.2);
  --cal-color-time: rgba(255,255,255,1);

  --tosync-color-rotation: hsl(var(--cal-light-blue-hsl));
  --tosync-color-vol: hsl(var(--cal-light-blue-hsl));
  --tosync-color-sv: hsl(var(--cal-light-blue-hsl));
  --tosync-color-mep: hsl(var(--cal-light-blue-hsl));

  --tosync-color-conges: hsl(var(--cal-green-hsl));

  --tosync-color-repos: hsl(var(--cal-light-green-hsl));

  --tosync-color-stage: hsl(var(--cal-dark-red-hsl));

  --tosync-color-greve: hsl(var(--cal-light-yellow-hsl));
  --tosync-color-maladie: hsl(var(--cal-light-yellow-hsl));
  --tosync-color-asbsence: hsl(var(--cal-light-yellow-hsl));
  --tosync-color-sanssolde: hsl(var(--cal-light-yellow-hsl));

  --tosync-color-jisap: hsl(var(--cal-orange-hsl));
  --tosync-color-npl: hsl(var(--cal-orange-hsl));

  --tosync-color-sol: hsl(var(--cal-light-red-hsl));
  --tosync-color-simu: hsl(var(--cal-light-red-hsl));
  --tosync-color-syndicat: hsl(var(--cal-light-red-hsl));
  --tosync-color-delegation: hsl(var(--cal-light-red-hsl));
  --tosync-color-reserve: hsl(var(--cal-light-red-hsl));
  --tosync-color-instructionSimu: hsl(var(--cal-light-red-hsl));
  --tosync-color-instructionSol: hsl(var(--cal-light-red-hsl));

  --tosync-color-blanc: hsl(var(--cal-light-grey-hsl));
  --tosync-color-autre: hsl(var(--cal-grey-hsl));
  --tosync-color-default: hsl(var(--cal-grey-hsl));

  /* Duty BG */
  --tosync-duty-bg-alpha: 0.1;

  --tosync-color-rotation-duty-text: hsla(0, 0%, 100%, 1);
  --tosync-color-rotation-duty-title: hsla(var(--cal-light-blue-hsl), 1);
  --tosync-color-rotation-duty-bg: hsla(var(--cal-light-blue-hsl), var(--tosync-duty-bg-alpha));
  
  --tosync-color-sol-duty-text: hsla(0, 0%, 100%, 1);
  --tosync-color-sol-duty-title: hsla(var(--cal-light-red-hsl), 1);
  --tosync-color-sol-duty-bg: hsla(var(--cal-light-red-hsl), var(--tosync-duty-bg-alpha));
}

.tosync-color-rotation {
  color: var(--tosync-color-rotation);
}
.tosync-color-vol {
  color: var(--tosync-color-vol);
}
.tosync-color-sv {
  color: var(--tosync-color-sv);
}
.tosync-color-mep {
  color: var(--tosync-color-mep);
}
.tosync-color-conges {
  color: var(--tosync-color-conges);
}
.tosync-color-repos {
  color: var(--tosync-color-repos);
}
.tosync-color-stage {
  color: var(--tosync-color-stage);
}
.tosync-color-greve {
  color: var(--tosync-color-greve);
}
.tosync-color-maladie {
  color: var(--tosync-color-maladie);
}
.tosync-color-asbsence {
  color: var(--tosync-color-absence);
}
.tosync-color-sanssolde {
  color: var(--tosync-color-sanssolde);
}
.tosync-color-jisap {
  color: var(--tosync-color-jisap);
}
.tosync-color-npl {
  color: var(--tosync-color-npl);
}
.tosync-color-sol {
  color: var(--tosync-color-sol);
}
.tosync-color-simu {
  color: var(--tosync-color-simu);
}
.tosync-color-syndicat {
  color: var(--tosync-color-syndicat);
}
.tosync-color-delegation {
  color: var(--tosync-color-delegation);
}
.tosync-color-reserve {
  color: var(--tosync-color-reserve);
}
.tosync-color-instructionSimu {
  color: var(--tosync-color-instructionSimu);
}
.tosync-color-instructionSol {
  color: var(--tosync-color-instructionSol);
}
.tosync-color-autre {
  color: var(--tosync-color-autre);
}
.tosync-color-blanc {
  color: var(--tosync-color-blanc);
}
.tosync-color-default {
  color: var(--tosync-color-default);
}

.tosync-bg-rotation {
  background-color: var(--tosync-color-rotation);
}
.tosync-bg-vol {
  background-color: var(--tosync-color-vol);
}
.tosync-bg-sv {
  background-color: var(--tosync-color-sv);
}
.tosync-bg-mep {
  background-color: var(--tosync-color-mep);
}
.tosync-bg-conges {
  background-color: var(--tosync-color-conges);
}
.tosync-bg-repos {
  background-color: var(--tosync-color-repos);
}
.tosync-bg-stage {
  background-color: var(--tosync-color-stage);
}
.tosync-bg-greve {
  background-color: var(--tosync-color-greve);
}
.tosync-bg-maladie {
  background-color: var(--tosync-color-maladie);
}
.tosync-bg-asbsence {
  background-color: var(--tosync-color-absence);
}
.tosync-bg-sanssolde {
  background-color: var(--tosync-color-sanssolde);
}
.tosync-bg-jisap {
  background-color: var(--tosync-color-jisap);
}
.tosync-bg-npl {
  background-color: var(--tosync-color-npl);
}
.tosync-bg-sol {
  background-color: var(--tosync-color-sol);
}
.tosync-bg-simu {
  background-color: var(--tosync-color-simu);
}
.tosync-bg-syndicat {
  background-color: var(--tosync-color-syndicat);
}
.tosync-bg-delegation {
  background-color: var(--tosync-color-delegation);
}
.tosync-bg-reserve {
  background-color: var(--tosync-color-reserve);
}
.tosync-bg-instructionSimu {
  background-color: var(--tosync-color-instructionSimu);
}
.tosync-bg-instructionSol {
  background-color: var(--tosync-color-instructionSol);
}
.tosync-bg-autre {
  background-color: var(--tosync-color-autre);
}
.tosync-bg-blanc {
  background-color: var(--tosync-color-blanc);
}
.tosync-bg-default {
  background-color: var(--tosync-color-default);
}