/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #00d66c;
  --ion-color-primary-rgb: 0,214,108;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #00bc5f;
  --ion-color-primary-tint: #1ada7b;

  --ion-color-secondary: #2800a0;
  --ion-color-secondary-rgb: 40,0,160;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #23008d;
  --ion-color-secondary-tint: #3e1aaa;

  --ion-color-tertiary: #ff3268;
  --ion-color-tertiary-rgb: 255,50,104;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #e02c5c;
  --ion-color-tertiary-tint: #ff4777;

  --ion-color-success: #00d66c;
  --ion-color-success-rgb: 0,214,108;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #00bc5f;
  --ion-color-success-tint: #1ada7b;

  --ion-color-warning: #f28c37;
  --ion-color-warning-rgb: 242,140,55;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d57b30;
  --ion-color-warning-tint: #f3984b;

  --ion-color-danger: #ff3268;
  --ion-color-danger-rgb: 255,50,104;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e02c5c;
  --ion-color-danger-tint: #ff4777;

  --ion-color-dark: #202020;
  --ion-color-dark-rgb: 32,32,32;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1c1c1c;
  --ion-color-dark-tint: #363636;

  --ion-color-medium: #909090;
  --ion-color-medium-rgb: 144,144,144;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #7f7f7f;
  --ion-color-medium-tint: #9b9b9b;

  --ion-color-light: #f4f4f4;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d7d7;
  --ion-color-light-tint: #f5f5f5;

  --border-radius: 0.5rem;

  --ion-color-yellow: #ffc107;
  --ion-color-yellow-rgb: 255,193,7;
  --ion-color-yellow-contrast: #000000;
  --ion-color-yellow-contrast-rgb: 0,0,0;
  --ion-color-yellow-shade: #e0aa06;
  --ion-color-yellow-tint: #ffc720;

  --ion-color-dark-green: #006635;
  --ion-color-dark-green-rgb: 0,102,53;
  --ion-color-dark-green-contrast: #ffffff;
  --ion-color-dark-green-contrast-rgb: 255,255,255;
  --ion-color-dark-green-shade: #005a2f;
  --ion-color-dark-green-tint: #1a7549;

  --ion-color-dark-red: #cc0036;
  --ion-color-dark-red-rgb: 204,0,54;
  --ion-color-dark-red-contrast: #ffffff;
  --ion-color-dark-red-contrast-rgb: 255,255,255;
  --ion-color-dark-red-shade: #b40030;
  --ion-color-dark-red-tint: #d11a4a;

  --tosync-color-rotation: var(--ion-color-secondary);
  --tosync-color-vol: var(--ion-color-secondary);
  --tosync-color-sv: var(--ion-color-secondary);
  --tosync-color-mep: var(--ion-color-secondary);

  --tosync-color-conges: var(--ion-color-dark-green);

  --tosync-color-repos: var(--ion-color-success);

  --tosync-color-stage: var(--ion-color-dark-red);

  --tosync-color-greve: var(--ion-color-yellow);
  --tosync-color-maladie: var(--ion-color-yellow);
  --tosync-color-asbsence: var(--ion-color-yellow);
  --tosync-color-sanssolde: var(--ion-color-yellow);

  --tosync-color-jisap: var(--ion-color-warning);
  --tosync-color-npl: var(--ion-color-warning);

  --tosync-color-sol: var(--ion-color-danger);
  --tosync-color-simu: var(--ion-color-danger);
  --tosync-color-syndicat: var(--ion-color-danger);
  --tosync-color-delegation: var(--ion-color-danger);
  --tosync-color-reserve: var(--ion-color-danger);
  --tosync-color-instructionSimu: var(--ion-color-danger);
  --tosync-color-instructionSol: var(--ion-color-danger);

  --tosync-color-autre: var(--ion-color-medium);
  --tosync-color-blanc: #333333;
  --tosync-color-default: var(--ion-color-medium);

  --tosync-duty-alpha: 0.3;

  /* Duty BG */
  --tosync-color-rotation-duty-bg: rgba(var(--ion-color-secondary-rgb),var(--tosync-duty-alpha));
  --tosync-color-vol-duty-bg: rgba(var(--ion-color-secondary-rgb),var(--tosync-duty-alpha));
  --tosync-color-sv-duty-bg: rgba(var(--ion-color-secondary-rgb),var(--tosync-duty-alpha));
  --tosync-color-mep-duty-bg: rgba(var(--ion-color-secondary-rgb),var(--tosync-duty-alpha));

  --tosync-color-conges-duty-bg: rgba(var(--ion-color-dark-green-rgb),var(--tosync-duty-alpha));

  --tosync-color-repos-duty-bg: rgba(var(--ion-color-success-rgb),var(--tosync-duty-alpha));

  --tosync-color-stage-duty-bg: rgba(var(--ion-color-dark-red-rgb),var(--tosync-duty-alpha));

  --tosync-color-greve-duty-bg: rgba(var(--ion-color-yellow-rgb),var(--tosync-duty-alpha));
  --tosync-color-maladie-duty-bg: rgba(var(--ion-color-yellow-rgb),var(--tosync-duty-alpha));
  --tosync-color-asbsence-duty-bg: rgba(var(--ion-color-yellow-rgb),var(--tosync-duty-alpha));
  --tosync-color-sanssolde-duty-bg: rgba(var(--ion-color-yellow-rgb),var(--tosync-duty-alpha));

  --tosync-color-jisap-duty-bg: rgba(var(--ion-color-warning-rgb),var(--tosync-duty-alpha));
  --tosync-color-npl-duty-bg: rgba(var(--ion-color-warning-rgb),var(--tosync-duty-alpha));

  --tosync-color-sol-duty-bg: rgba(var(--ion-color-danger-rgb),var(--tosync-duty-alpha));
  --tosync-color-simu-duty-bg: rgba(var(--ion-color-danger-rgb),var(--tosync-duty-alpha));
  --tosync-color-syndicat-duty-bg: rgba(var(--ion-color-danger-rgb),var(--tosync-duty-alpha));
  --tosync-color-reserve-duty-bg: rgba(var(--ion-color-danger-rgb),var(--tosync-duty-alpha));
  --tosync-color-instructionSimu-duty-bg: rgba(var(--ion-color-danger-rgb),var(--tosync-duty-alpha));
  --tosync-color-instructionSol-duty-bg: rgba(var(--ion-color-danger-rgb),var(--tosync-duty-alpha));

  --tosync-color-autre-duty-bg: rgba(var(--ion-color-medium-rgb),var(--tosync-duty-alpha));
  --tosync-color-blanc-duty-bg: transparent;
  --tosync-color-default-duty-bg: rgba(var(--ion-color-medium-rgb),var(--tosync-duty-alpha));

}

  /*
   * Dark Colors
   * -------------------------------------------
   */

body.dark {
  --ion-color-primary: #00d66c;
  --ion-color-primary-rgb: 0,214,108;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #00bc5f;
  --ion-color-primary-tint: #1ada7b;

  --ion-color-secondary: #2800a0;
  --ion-color-secondary-rgb: 40,0,160;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #23008d;
  --ion-color-secondary-tint: #3e1aaa;

  --ion-color-tertiary: #ff3268;
  --ion-color-tertiary-rgb: 255,50,104;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #e02c5c;
  --ion-color-tertiary-tint: #ff4777;

  --ion-color-success: #00d66c;
  --ion-color-success-rgb: 0,214,108;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #00bc5f;
  --ion-color-success-tint: #1ada7b;

  --ion-color-warning: #f28c37;
  --ion-color-warning-rgb: 242,140,55;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d57b30;
  --ion-color-warning-tint: #f3984b;

  --ion-color-danger: #ff3268;
  --ion-color-danger-rgb: 255,50,104;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e02c5c;
  --ion-color-danger-tint: #ff4777;

  --ion-color-dark: #202020;
  --ion-color-dark-rgb: 32,32,32;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1c1c1c;
  --ion-color-dark-tint: #363636;

  --ion-color-medium: #909090;
  --ion-color-medium-rgb: 144,144,144;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #7f7f7f;
  --ion-color-medium-tint: #9b9b9b;

  --ion-color-light: #f4f4f4;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d7d7;
  --ion-color-light-tint: #f5f5f5;
}

/*
  * iOS Dark Theme
  * -------------------------------------------
  */

.ios body.dark {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0,0,0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #0d0d0d;

  --ion-item-background: #000000;

  --ion-card-background: #1c1c1d;
}


/*
  * Material Design Dark Theme
  * -------------------------------------------
  */

.md body.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18,18,18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1e1e1e;

  --ion-toolbar-background: #1f1f1f;

  --ion-tab-bar-background: #1f1f1f;

  --ion-card-background: #1e1e1e;
}

.ion-color-yellow {
  --ion-color-base: var(--ion-color-yellow);
  --ion-color-base-rgb: var(--ion-color-yellow-rgb);
  --ion-color-contrast: var(--ion-color-yellow-contrast);
  --ion-color-contrast-rgb: var(--ion-color-yellow-contrast-rgb);
  --ion-color-shade: var(--ion-color-yellow-shade);
  --ion-color-tint: var(--ion-color-yellow-tint);
}

.ion-color-dark-green {
  --ion-color-base: var(--ion-color-dark-green);
  --ion-color-base-rgb: var(--ion-color-dark-green-rgb);
  --ion-color-contrast: var(--ion-color-dark-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-green-shade);
  --ion-color-tint: var(--ion-color-dark-green-tint);
}

.ion-color-dark-red {
  --ion-color-base: var(--ion-color-dark-red);
  --ion-color-base-rgb: var(--ion-color-dark-red-rgb);
  --ion-color-contrast: var(--ion-color-dark-red-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-red-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-red-shade);
  --ion-color-tint: var(--ion-color-dark-red-tint);
}

.tosync-color-rotation {
  color: var(--tosync-color-rotation);
}
.tosync-color-vol {
  color: var(--tosync-color-vol);
}
.tosync-color-sv {
  color: var(--tosync-color-sv);
}
.tosync-color-mep {
  color: var(--tosync-color-mep);
}
.tosync-color-conges {
  color: var(--tosync-color-conges);
}
.tosync-color-repos {
  color: var(--tosync-color-repos);
}
.tosync-color-stage {
  color: var(--tosync-color-stage);
}
.tosync-color-greve {
  color: var(--tosync-color-greve);
}
.tosync-color-maladie {
  color: var(--tosync-color-maladie);
}
.tosync-color-asbsence {
  color: var(--tosync-color-absence);
}
.tosync-color-sanssolde {
  color: var(--tosync-color-sanssolde);
}
.tosync-color-jisap {
  color: var(--tosync-color-jisap);
}
.tosync-color-npl {
  color: var(--tosync-color-npl);
}
.tosync-color-sol {
  color: var(--tosync-color-sol);
}
.tosync-color-simu {
  color: var(--tosync-color-simu);
}
.tosync-color-syndicat {
  color: var(--tosync-color-syndicat);
}
.tosync-color-delegation {
  color: var(--tosync-color-delegation);
}
.tosync-color-reserve {
  color: var(--tosync-color-reserve);
}
.tosync-color-instructionSimu {
  color: var(--tosync-color-instructionSimu);
}
.tosync-color-instructionSol {
  color: var(--tosync-color-instructionSol);
}
.tosync-color-autre {
  color: var(--tosync-color-autre);
}
.tosync-color-blanc {
  color: var(--tosync-color-blanc);
}
.tosync-color-default {
  color: var(--tosync-color-default);
}

.tosync-bg-rotation {
  background-color: var(--tosync-color-rotation);
}
.tosync-bg-vol {
  background-color: var(--tosync-color-vol);
}
.tosync-bg-sv {
  background-color: var(--tosync-color-sv);
}
.tosync-bg-mep {
  background-color: var(--tosync-color-mep);
}
.tosync-bg-conges {
  background-color: var(--tosync-color-conges);
}
.tosync-bg-repos {
  background-color: var(--tosync-color-repos);
}
.tosync-bg-stage {
  background-color: var(--tosync-color-stage);
}
.tosync-bg-greve {
  background-color: var(--tosync-color-greve);
}
.tosync-bg-maladie {
  background-color: var(--tosync-color-maladie);
}
.tosync-bg-asbsence {
  background-color: var(--tosync-color-absence);
}
.tosync-bg-sanssolde {
  background-color: var(--tosync-color-sanssolde);
}
.tosync-bg-jisap {
  background-color: var(--tosync-color-jisap);
}
.tosync-bg-npl {
  background-color: var(--tosync-color-npl);
}
.tosync-bg-sol {
  background-color: var(--tosync-color-sol);
}
.tosync-bg-simu {
  background-color: var(--tosync-color-simu);
}
.tosync-bg-syndicat {
  background-color: var(--tosync-color-syndicat);
}
.tosync-bg-delegation {
  background-color: var(--tosync-color-delegation);
}
.tosync-bg-reserve {
  background-color: var(--tosync-color-reserve);
}
.tosync-bg-instructionSimu {
  background-color: var(--tosync-color-instructionSimu);
}
.tosync-bg-instructionSol {
  background-color: var(--tosync-color-instructionSol);
}
.tosync-bg-autre {
  background-color: var(--tosync-color-autre);
}
.tosync-bg-blanc {
  background-color: var(--tosync-color-blanc);
}
.tosync-bg-default {
  background-color: var(--tosync-color-default);
}